<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title><%= typeof title !=="undefined" ? title : "Therefore I Am" %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="image/png" sizes="16x16" rel="icon" href="/favicon.png">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Font Awesome -->
  <script src="<%= scripts.fontAwesome %>" crossorigin="anonymous"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- TinyMCE -->
  <script src="https://cdn.tiny.cloud/1/<%= scripts.tinyMCE %>/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border-bottom shadow-sm">
    <div class="container-fluid">
      <p class="navbar-brand"><a href="/" class="text-decoration-none text-body">THEREFORE I AM</a></p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex search-bar" action="/search">
          <input 
            type="text" 
            class="form-control search-input" 
            placeholder="Search by title..." 
            aria-label="search bar" 
            name="title" 
            required
            pattern=".*\S+.*">
          <button class="btn search-btn" type="submit">
            <span class="sr-only">Search</span>
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" id="about"><a class="nav-link" href="/about">ABOUT</a></li>
          <li class="nav-item" id="compose"><a class="nav-link" href="/posts">POSTS</a></li>
          <% if(auth) {%>
            <li class="nav-item dropdown">
              <a id="composeDropdown" 
                class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
              >
                COMPOSE
              </a>
              <ul class="dropdown-menu" aria-labelledby="composeDropdown">
                <li id="logout"><a class="dropdown-item" href="/compose">New</a></li>
                <li id="logout"><a class="dropdown-item" href="/posts/drafts">Drafts</a></li>
                
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a id="accountDropdown"
              class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                ACCOUNT
              </a>
              <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                <li id="logout"><a class="dropdown-item" href="/logout">Logout</a></li>
                <li id="logout">
                  <a class="dropdown-item" href="#" role="button" data-bs-toggle="modal" data-bs-target="#confirmAccountDeletion">Delete</a>
                </li>
              </ul>
            </li>
          <% } else {%>
              <li class="nav-item" id="contact"><a class="nav-link" href="/contact">CONTACT</a></li>
              <li class="nav-item" id="login"><a class="nav-link" href="/login">LOGIN</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="modal fade" id="confirmAccountDeletion" tabindex="-1" aria-labelledby="Confirm account deletion"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title fs-5" id="confirmAccountDeletionLabel">Confirm Account Deletion</p>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete your account?
          <br />
          <p class="warning-text bold">This action cannot be undone.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a class="btn btn-danger" href="/users/<%= auth %>/delete" class="link">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="content-wrap container-fluid">