MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/<db-name>
PORT=3000
SESSION_SECRET=changeme
CLOUDINARY_NAME=your-cloudinary-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
RENDER_API_KEY=your-render-key
ADMIN_EMAIL=admin@example.com
FONTAWESOME_KIT=your-fontawesome-kit
TINYMCE_API_KEY=your-tiny-mce-api-key
DEFAULT_POST_IMAGE_URL=https://images.pexels.com/photos/xxx/example.jpeg
