<%- include("partials/header"); -%>

  <h1 class="title">About Me</h1>
  <div class="starting-content text-responsive mx-lg-4 px-lg-3">
    
      <p>
        <strong>Hello, I’m Sushma!</strong>
        I’m a software engineer, always on the lookout to develop new skills.
      </p>
      <p>
        I’ve been an avid reader since a young age, and after absorbing several works by incredibly
        talented writers, I’m now inspired to create and share my own.
      </p>   
      <p>I also greatly enjoy video editing!</p>
  </div>

<%- include("partials/footer"); -%>