<%- include("partials/header"); -%>

  <h1 class="title">Login</h1>
  <div class="container-fluid my-4">
    <div class="row">
      <div class="col-lg-8 pb-5 mx-auto">
        <% if(errorMessage) {%>
        <div class="alert alert-danger" role="alert">
          <%= errorMessage %>
        </div>
        <% } %>
        <div class="card">
          <div class="card-body">
            <form action="" method="POST">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                <label for="email">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                <label for="password">Password</label>
              </div>
              <button class="btn btn-dark" type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer"); -%>
