<%- include("partials/header"); -%>
  <h1 class="fs-3 section-title"><%= title %></h1>
  <%- include("partials/post-list"); -%>
  <script src="/scripts/date.js" defer></script>
<%- include("partials/footer"); -%>
