<%- include("../partials/header"); -%>

  <div class="d-flex align-items-center justify-content-center pt-5">
    <div class="text-center">
      <h1 class="display-3 fw-bold">
        <%= 401 %>
      </h1>
      <p class="fw-bold text-responsive">
        <%= typeof message !=="undefined" ? message : "Authentication error." %>
      </p>
    </div>
  </div>

  <%- include("../partials/footer"); -%>